<nav>
    <ul>
        <li><a href="#" data-content="home">Home</a></li>
        <li><a href="#" data-content="games">Games</a></li>
        <li><a href="#" data-content="customers">Customers</a></li>
        <li><a href="#" data-content="sales">Sales</a></li>
        <li><a href="#" data-content="orderItems">Order Items</a></li>
        <li><a href="#" data-content="reviews">Reviews</a></li>
        <li><a href="#" data-content="wishlist">Wishlist</a></li>
        <li><a href="#" data-content="library">Library</a></li>
    </ul>
</nav>
