<header>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="customers.html">Customers</a></li>
            <li><a href="games.html">Games</a></li>
            <li><a href="sales.html">Sales</a></li>
            <li><a href="orderitems.html">Order Items</a></li>
            <li><a href="reviews.html">Reviews</a></li>
            <li><a href="wishlist.html">Wishlist</a></li>
            <li><a href="library.html">Library</a></li>
        </ul>
    </nav>
</header>
